body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*------------------------------ main-header------------------------------ */

.main-header {
  height: 720px;
  /* box-shadow: 0 0 0 3px red; */
  background-color: black;
  /* background: url("../img/header-back-dark.png") no-repeat bottom ,
  url("../img/header-back.jpg") no-repeat -16px -104px; */
  background: url("../img/header-back-dark.png") no-repeat bottom ,
  url("../img/header-back2.jpg") no-repeat 0 0;
  overflow: hidden;
  padding-top: 38px;
  box-sizing: border-box;
}

.logo {
  font-size: 18px;
  line-height: 19.17px;  
  letter-spacing: 3.6px;
  color: #ffffff;
  margin-left: 468px;
  margin-bottom: 270px;
  display: block; 
}

.main-header .promo-title {
  font-size: 38px;
  line-height: 46px;
  letter-spacing: 7.4px;
  color: #ffffff;
  width: 641px;
  
  margin-left: 639px;
  margin: 0 auto;
  margin-bottom: 400px;
  font-weight: 400;
  text-align: center;
}

.site-navigation {
  font-size: 16px;
  color: #ffffff;
  letter-spacing: 1.92px;
}

.section-title {
  font-size: 18px;
  line-height: 19.17px;
  color: #303030;
  letter-spacing: 3.6px;
}

.section-text {
  font-size: 28px;
  font-weight: 300;
  line-height: 44px;
  color: #666666;
  letter-spacing: 1.68px;
}

.promo-text {
  font-size: 58px;
  color: #303030;
}

.call-us-text {
  font-size: 20px;
  line-height: 44px;
  color: #000000;
  letter-spacing: 2.4px;
}
.call-us-text span {
  color: #1bf1ad;
}

.footer-navigation {
  font-size: 14px;
  color: #000000;
  font-weight: 500;
  letter-spacing: 1.68px;  
}

.contacts {
  font-size: 13px;
  font-weight: 500;
  line-height: 50px;
  color: #000000;
}